.home-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #19002A;
}
