.sidebar {
    position: absolute;
    width: 16%;
    max-width: 18%;
    height: 90vh;
    left: 1%;
    top: 8%;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.main-tiles {
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 325px;
    row-gap: 7px;
}

.free-spin-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    color: black;
    background: linear-gradient(90deg, #bced4e, #81b040);
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 80px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.free-spin-button:hover{
    scale: 1.05;
}

.free-spin-text{
    margin-right: -10px;
}

.free-spin-icon{
    margin-right: -10px;
    scale: 0.5;
}

.bottom-tiles {
    position: absolute;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    row-gap: 7px;
    height: 137px;
    bottom: 0;
}
