.profile-content {
    display: flex;
    position: absolute;
    width: 64%;
    left: 19%;
    top: 9%;
    height: 100%;
    border-radius: 50px;
    gap: 10px;
}

.profile-title {
    display: flex;
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: left;
}

.profile-content-left{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 30%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    top: 9%;
}

.profile-left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    background-color: #220d33;
    border-radius: 10px;
    padding: 10px 0;
    gap: 5px;
}

.personal-data,
.achievements,
.payments{
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #bbb;
}

.personal-data:hover,
.achievements:hover,
.payments:hover {
    color: #fff;
}

.personal-data.active,
.achievements.active,
.payments.active {
    color: #fff;
    background-color: #301c42;
    border-left: 4px solid #d673f5;
}

.profile-content-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    top: 9%;
}