.sidebar-button {
    color: white;
    background-color: #3B0365FF;
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    align-content: center;
    font-weight: 400;
    font-size: 15px;
    text-indent: 10px;
}