html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #19002A;
}

.navbar-container{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.navbar-left-corner{
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 2%;
}

.navbar-left-corner:hover{
    cursor: pointer;
}

.search-input{
    color: white;
    background-color: #3B0365FF;
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 40px;
}

.navbar-center-right{
    display: inline-flex;
    justify-content: space-between;
    gap: 5px;
    margin-left: 28%;
}

.navbar-right-corner{
    display: inline-flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    margin-right: 2%;
}

.profile-logo{
}

.settings-button, .profile-button{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #3B0365FF;
}
.settings-button img, .profile-logo img{
    scale: 50%;
}

.settings-button:hover, .profile-button:hover{
    scale: 1.05;
    background-color: #49037EFF;
}